<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}SnowTrickmania.com{% endblock %}</title>

    
    <!-- CDN Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    
    {% stylesheets filter='cssrewrite, ?scssphp, ?jsqueeze'
        'bundles/s7thdirectory/css/creative.css'
    %}
        <!-- Theme CSS -->
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css">
        
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% block stylesheets %}{% endblock %}

</head>

{% block bodyup %}
    <body id="page-top">
{% endblock %}

{% block navside %}

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            {% block brand %}
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SnoWTrickMania.com</a>
            </div>
            {% endblock %}

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    {% block linkmenu %}{% endblock %}
                    
                    {% block log %}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li>
                                <a class="page-scroll" href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span> Profil de {{ app.user.username }}</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> se déconnecter</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="page-scroll" href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-globe"></span> se connecter</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span> s'inscrire</a>
                            </li>
                        {% endif %}
                    {% endblock %} 
                </ul>
            </div>
    <!-- /.navbar-collapse -->
        </div>
    <!-- /.container-fluid -->
    </nav>
    
{% endblock %}



    <header>
{% block header %}{% endblock %}
    </header>

    
{% block page %}{% endblock %}
    

    <footer>

{% block footer %}{% endblock %}

     </footer>


    
    <!-- CDN jQuery -->
    <script 
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>


    <!-- CDN Bootstrap Core JavaScript -->
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   

    <!-- Theme JavaScript + plugin-->    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    
    {% javascripts 
        'bundles/s7thdirectory/scrollreveal/scrollreveal.js'
        'bundles/s7thdirectory/js/creative.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% block js %}{% endblock %}

</body>

</html>
