{% extends "S7tHDirectoryBundle::layout.html.twig" %}

{% block linkmenu %}
    <li>
        <a class="page-scroll" href="#page-top"><span class="glyphicon glyphicon-home"></span> Présentation</a>
    </li>
    <li>
        <a class="page-scroll" href="#tricks"><span class="glyphicon glyphicon-sunglasses"></span> Les Tricks</a>
    </li>
    <li>
       <a class="page-scroll" href="#newtrick"><span class="glyphicon glyphicon-edit"></span> Créer un Trick</a>
    </li>
    <li>
        <a class="page-scroll" href="#footer"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
    </li>
{% endblock %}

{% block header %}

    <div class="header-content">
        <div class="header-content-inner">
            {# we display flash message wich name is « notice » #}
                    {% for message in app.session.flashbag.get('notice') %}
                        <p class="msg-flash"> {{ message }}</p>
                    {% endfor %}
            <h1 id="homeHeading">Bienvenue sur SnowTrickMania.com</h1>
                <hr>
                <p>SnowTrickMania est consacré à l'art du Snowboard et ses Tricks aussi bien pour les passionnés que les néophytes dans le domaine.</p>
                <a href="#tricks" class="btn btn-primary btn-xl page-scroll">Voir les Tricks</a>
        </div>
    </div>

{% endblock %}

{% block page %}

    <section class="bg-primary" id="tricks">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Voici la liste des Tricks entretenues par la communautée</h2>
                    <hr class="light">
                    <p class="text-faded">
                    
                    {# Displaying the tricks list#}
                    {# to begin var cat = null #}
                    {% set cat = null %}
                    {% if tricklist is empty %}
                        <p class="msg-flash"> Il n y a pas encore de Trick de créé </p>
                    {% else %}
                        {% for tricks in tricklist %} 

                            {# we display flash message wich name is « notice » #}
                            {% for message in app.session.flashbag.get('notice') %}
                                 <p class="msg-flash">{{ message }}</p>
                            {% endfor %}
                            
                            
                            {% if cat == null or cat != tricks.category.name %}

                                {% if cat != null and cat != tricks.category.name %}
                                    </div>
                                    <div class="col-xs-12 trickemptyend"></div>
                                {% endif %}

                                
                                <div class="col-xs-12 trickframe">
                                    <a>
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                            {{ tricks.category.name|upper }}
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </a>
                                    <div class="col-xs-12 trickemptystart"></div>
                                

                            {% endif %}
                                
                                <a href="{{ path('s7t_h_directory_trickview', {'id':tricks.id, 'page': 1}) }}">
                                              
                                <div class="row col-xs-10 col-sm-5 trickelmt">
                                    
                                        <img class="clearfix hidden-xs col-sm-6 table-condensed img-rules" src="{{ asset(tricks.image.webPath) }}" alt="{{ tricks.image.alt }}">
                                    
                                        {# link to the view path of trick #}
                                        <span class="col-xs-offset-1"></span>{{ tricks.name }}
                                    
                                            
                                    {# if user is authentified #}
                                    {% if is_granted('ROLE_USER') %}
                                        <br/>
                                        <br/>
                                        {# button edit #}
                                        <a href="{{ path('s7t_h_directory_trickedit', {'id':tricks.id}) }}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                       
                                       
                                        {# button delete #}
                                        <a href="{{ path('s7t_h_directory_trickdelete', {'id':tricks.id}) }}">
                                            <span class="glyphicon glyphicon-trash">
                                        </a>
                                        
                                    {% endif %}
                                    
                                </div>
                                </a>
                            {% set cat = tricks.category.name %}
                        {% endfor %}
                    {% endif %}
                        </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </section>

    
    <aside class="bg-clear"  id="newtrick">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Vous désirez ajouter un nouveau Trick ?</h2>
                <a href="{{ path('s7t_h_directory_trickadd') }}" class="btn btn-reverso btn-xl">{% if is_granted('ROLE_USER') %}Créer un Trick !{% else %}Pour cela, merci de vous autentifier{% endif %}</a>
            </div>
        </div>
    </aside>
{% endblock %}