{% trans_default_domain 'FOSUserBundle' %}

<div class="well wellmore">

    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'form-horizontal' } }) }}
    
    <div class="col-xs-12 log-frame">
        {# label generating #}
        {{ form_label(form.plainPassword.first, "*Votre nouveau mot de passe", {'label_attr': {'class': 'col-xs-4 log-label'}}) }}
        {# input generating #}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'col-xs-8 log-field'}}) }}
    </div>

    <div class="col-xs-12 log-frame">
        {# label generating #}
        {{ form_label(form.plainPassword.second, "*Confirmez votre nouveau mot de passe", {'label_attr': {'class': 'col-xs-4 log-label'}}) }}
        {# input generating #}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'col-xs-8 log-field'}}) }}
    </div>

        {{ form_widget(form) }}

        <div>
            <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
    {{ form_end(form) }}

</div>
