{% trans_default_domain 'FOSUserBundle' %}
<div class="well wellmore">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-horizontal' } }) }}

    <div class="col-xs-12 log-frame">
        {# label generating #}
        {{ form_label(form.current_password, "* Votre mot de passe actuel", {'label_attr': {'class': 'col-xs-4 log-label'}}) }}
        {# input generating #}
        {{ form_widget(form.current_password, {'attr': {'class': 'col-xs-8 log-field'}}) }}
    </div>

    <div class="col-xs-12 log-frame">
        <a class="log-lost" href="{{ path('fos_user_resetting_request') }}"><span class="glyphicon glyphicon-globe"></span> Mot de passe perdu ?</a>
    </div>
    
    <div class="col-xs-12 log-frame">
        {# label generating #}
        {{ form_label(form.plainPassword.first, "* Votre nouveau mot de passe", {'label_attr': {'class': 'col-xs-4 log-label'}}) }}
        {# input generating #}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'col-xs-8 log-field'}}) }}
    </div>

    <div class="col-xs-12 log-frame">
        {# label generating #}
        {{ form_label(form.plainPassword.second, "* Confirmez votre nouveau mot de passe", {'label_attr': {'class': 'col-xs-4 log-label'}}) }}
        {# input generating #}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'col-xs-8 log-field'}}) }}
    </div>

    {{ form_widget(form) }}

    <div>
        <input class="btn btn-primary register-button" type="submit" value="{{ 'change_password.submit'|trans }}" />
        <a class="btn btn-primary register-button" href="{{ path('fos_user_profile_show') }}">Annuler</a>
    </div>
{{ form_end(form) }}
