{% trans_default_domain 'FOSUserBundle' %}

<div class="well wellmore">


    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-horizontal'}}) }}
    
    <div class="col-xs-12 log-frame">
        {# label generating #}
        {{ form_label(form.email, "* Votre adresse e-mail", {'label_attr': {'class': 'col-xs-4 log-label'}}) }}
        {# input generating #}
        {{ form_widget(form.email, {'attr': {'class': 'col-xs-8 log-field'}}) }}
    </div>

    <div class="col-xs-12 log-frame">
        {# label generating #}
        {{ form_label(form.username, "* Votre nom d'utilisateur", {'label_attr': {'class': 'col-xs-4 log-label'}}) }}
        {# input generating #}
        {{ form_widget(form.username, {'attr': {'class': 'col-xs-8 log-field'}}) }}
    </div>

    <div class="col-xs-12 log-frame">
        {# label generating #}
        {{ form_label(form.plainPassword.first, "* Votre mot de passe", {'label_attr': {'class': 'col-xs-4 log-label'}}) }}
        {# input generating #}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'col-xs-8 log-field'}}) }}
    </div>

    <div class="col-xs-12 log-frame">
        {# label generating #}
        {{ form_label(form.plainPassword.second, "Confirmez votre mot de passe", {'label_attr': {'class': 'col-xs-4 log-label'}}) }}
        {# input generating #}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'col-xs-8 log-field'}}) }}
    </div>

    <div class="col-xs-12 log-frame">
        <hr>
        <a href="https://fr.gravatar.com/" target="no_blank"/>*Cliquez sur ce lien, si vous n'avez pas encore de compte Gravatar</a>
        <hr>
    </div>

    <div class="col-xs-12 log-frame">
        {# label generating #}
        {{ form_label(form.gravatar, "Votre e-mail liée à gravatar", {'label_attr': {'class': 'col-xs-4 log-label'}}) }}
        {# input generating #}
        {{ form_widget(form.gravatar, {'attr': {'class': 'col-xs-8 log-field'}}) }}
        </div>

    {{ form_widget(form) }}

    

   
    <div>
        <input class="btn btn-primary register-button" type="submit" value="{{ 'registration.submit'|trans }}" />
        <br/>
        <br/>
        <a class="btn btn-primary" href="{{ path('s7t_h_directory_tricklist') }}">Annuler</a>
    </div>
    {{ form_end(form) }}
    
    </div>
